@font-face {
  font-family: "Domaine Sans Text";
  src: url("/arquivos/DomaineSansText-Light.css");
  src: url("/arquivos/DomaineSansText-Light.css?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=fonts.css.map */

/*# sourceMappingURL=fonts.css.map */
