@charset "UTF-8";
/* Error: Undefined variable.
 *   ,
 * 3 |     font-family: $domain;
 *   |                  ^^^^^^^
 *   '
 *   scss\geral.scss 3:18  root stylesheet */
body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   ╷\a 3 │     font-family: $domain;\d\a   │                  ^^^^^^^\a   ╵\a   scss\\geral.scss 3:18  root stylesheet";
}

/*# sourceMappingURL=geral.css.map */
