@charset "UTF-8";
/* Error: Undefined variable.
 *    ,
 * 25 |                 transition: $main-transition;
 *    |                             ^^^^^^^^^^^^^^^^
 *    '
 *   scss\home.scss 25:29  root stylesheet */
body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    ╷\a 25 │                 transition: $main-transition;\d\a    │                             ^^^^^^^^^^^^^^^^\a    ╵\a   scss\\home.scss 25:29  root stylesheet";
}

/*# sourceMappingURL=home.css.map */
