* {
  padding: 0;
  margin: 0;
}

main {
  padding-top: 5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*fonts*/
hr {
  width: 100%;
  color: #5A5D59;
}

.info-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #5A5D59;
}

.info-subtitle {
  font-size: 12px;
  color: #5A5D59;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.link-subtitle a {
  color: #BDB5AF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.link-subtitle a:hover {
  color: #5A5D59;
  opacity: 0.8;
}

/*product colour*/
.list-inline .list-inline-item img {
  border: 1px solid #BDB5AF;
  padding: 0.2em;
}

.list-inline .list-inline-item img:hover {
  border: 1px solid #5A5D59;
}

/*product size*/
.product-size {
  padding-top: 1.3em;
}

.box {
  border: 1px solid #BDB5AF;
  height: 40px;
  width: 56px;
}

.box:hover {
  border: 1px solid #5A5D59;
  height: 40px;
  width: 56px;
}

/*product fit size input*/
.select-box {
  z-index: 3;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
  font-size: 12px;
  color: #60666d;
  border: 1px solid #BDB5AF;
}
.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 15px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  border: 1px solid #BDB5AF;
}
.select-box__option {
  display: block;
  padding: 25px;
  background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
.details {
  border: none;
  padding: 5px;
}

.product-quant {
  border: 1px solid blue;
  padding-top: 1em;
}

.input-qnt {
  width: 25px;
  border: none;
  border-bottom: 1px solid #5A5D59;
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*btn add to card*/
.btn-add-cart {
  border: none;
  background-color: #BDB5AF;
}

.btn-add-cart:hover {
  border: 1px solid #5A5D59;
}

.list-item-separation::after {
  content: "";
  border-right: 2px solid #BDB5AF;
  margin-left: 45px;
}
@media screen and (max-width: 1050px) {
  .list-item-separation::after {
    display: none;
  }
}

.list-item-separation-b::before {
  content: "";
  border-right: 2px solid #BDB5AF;
  margin-right: 30px;
}
@media screen and (max-width: 1050px) {
  .list-item-separation-b::before {
    display: none;
  }
}

#center-banner {
  margin-top: 100px;
}

#center-banner img {
  width: 100%;
}

/*
Modal Style

*/
.modal-cart {
  align-content: right;
}

.cart-modal {
  padding: 35px;
  width: 680px;
  height: fit-content;
  border: 1px solid #BDB5AF;
  background-color: #fff;
}

.c-footer {
  padding-top: 5em;
}

.btn-modal {
  width: 315px;
  height: 75px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  border: none;
  background-color: #BDB5AF;
  cursor: pointer;
}
.btn-modal:hover {
  border: 2px solid #5A5D59;
}

.btn-remove {
  background-color: transparent;
  border: none;
  color: #BDB5AF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-decoration: none;
}

.border-top {
  border-color: #BDB5AF !important;
}

/*# sourceMappingURL=products.css.map */
