@font-face {
  font-family: "Domaine Sans Text";
  src: url("/arquivos/DomaineSansText-Light.css");
  src: url("/arquivos/DomaineSansText-Light.css?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Domaine Sans Text", sans-serif;
  overflow-x: hidden;
}

body * {
  outline: none !important;
}

.desk {
  display: block !important;
}

.mobile {
  display: none !important;
}

div#ajaxBusy {
  display: none !important;
}

.container-fluid {
  padding-right: 50px;
  padding-left: 50px;
}

@media (min-width: 576px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(189, 181, 175, 0.68);
  display: none;
  z-index: 8;
}

.overlay .active {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-prev.slick-arrow {
  left: 0;
}

.slick-next.slick-arrow {
  right: 0;
}

header {
  transition: all 0.3s ease-in;
  width: 100%;
  background: #ffffff;
}

header .wrap-menu {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

header .wrap-menu .close-container {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 99;
}

header .wrap-menu .close-container .leftright {
  height: 3px;
  width: 25px;
  position: absolute;
  background-color: #595C58;
  border-radius: 2px;
  transform: rotate(0);
  transition: all 0.3s ease-in;
  left: 0;
  top: 5px;
}

header .wrap-menu .close-container .rightleft {
  height: 3px;
  width: 25px;
  position: absolute;
  background-color: #595C58;
  border-radius: 2px;
  transform: rotate(0);
  transition: all 0.3s ease-in;
  left: 0;
  top: 14px;
}

header .wrap-menu .close-container.active span.leftright {
  transform: rotate(45deg);
  top: 10px;
}

header .wrap-menu .close-container.active span.rightleft {
  transform: rotate(-45deg);
  top: 10px;
}

header .wrap-menu .wrap-logo {
  max-height: 120px;
}

header .wrap-menu .wrap-logo img {
  max-height: 57px;
  transition: all 0.3s ease-in;
}

header .wrap-menu .wrap-logo p {
  font-size: 18px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 30px;
  transition: all 0.3s ease-in;
  color: #5A5D59;
}

header .wrap-menu .right-options .options {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: flex-end;
}

header .wrap-menu .right-options .options .kart {
  position: relative;
}

header .wrap-menu .right-options .options .kart img {
  max-width: 55px;
}

header .wrap-menu .right-options .options .kart .number {
  position: absolute;
  width: 55px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 7px;
  right: 0;
  margin-bottom: 0;
}

header .wrap-menu .right-options .options .search {
  margin-right: 15px;
}

header .wrap-menu .right-options .options .search input {
  width: 0;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  transition: all 0.5s ease-in;
  font-size: 12px;
  height: 32px;
}

header .wrap-menu .right-options .options .search input.active {
  width: 300px;
  border: 1px solid rgba(90, 93, 89, 0.3);
  border-radius: 15px;
  padding: 0 15px;
  line-height: 1;
}

header .wrap-menu .right-options .options .search img {
  max-width: 24px;
  bottom: 3px;
  position: relative;
  margin: 0 5px;
}

header .wrap-menu .right-options .options .login {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  position: relative;
  bottom: 7px;
  margin: 0 15px;
  color: #5A5D59;
}

header.fixed {
  position: fixed;
  transition: all 0.3s ease-in;
  z-index: 1;
  background-color: #ffffff;
}

header.fixed .wrap-menu .wrap-logo img {
  max-height: 35px;
  transition: all 0.3s ease-in;
}

header.fixed .wrap-menu .wrap-logo p {
  height: 0;
  font-size: 0;
  margin: 0;
  transition: all 0.3s ease-in;
}

aside.active .menu-lateral {
  left: 0;
}

aside .menu-lateral {
  position: fixed;
  height: 100vh;
  width: 30%;
  max-width: 460px;
  background: #ffffff;
  padding: 0 50px;
  z-index: 9;
  transition: all 0.3s ease-in;
  left: -30%;
  overflow: auto;
}

aside .menu-lateral ul {
  margin-top: 175px;
  margin-bottom: 70px;
}

aside .menu-lateral ul li {
  font-family: "Vandermark", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.7;
}

aside .menu-lateral ul li:hover a {
  color: #BDB5AF;
  text-decoration: none;
}

aside .menu-lateral ul li a {
  color: #5A5D59;
}

aside .menu-lateral ul li a:hover {
  color: #5A5D59;
  opacity: 0.8;
}

aside .menu-lateral ul li a i {
  color: #5A5D59;
}

aside .menu-lateral ul.social-media {
  position: absolute;
  margin-top: 0;
  bottom: 45px;
  margin-bottom: 0;
}

aside .menu-lateral ul.social-media li {
  line-height: 1;
}

aside .menu-lateral.submenu {
  margin-left: 0;
  z-index: 8;
}

aside .menu-lateral.submenu.active {
  margin-left: 30%;
}

aside .menu-lateral.submenu ul {
  margin-top: 120px;
}

aside .menu-lateral.submenu ul li {
  font-size: 24px;
  font-weight: 300;
}

aside .menu-lateral::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}

aside .menu-lateral::-webkit-scrollbar {
  width: 6px;
  background-color: #F8F8F8;
}

aside .menu-lateral::-webkit-scrollbar-thumb {
  background-color: #5A5D59;
}

.banner-section img {
  max-width: 100%;
  height: auto;
}

.prateleira {
  border-bottom: 1px solid #BDB5AF;
}

.prateleira .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.prateleira .container-fluid h2 {
  border-bottom: 1px solid #BDB5AF;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.prateleira .container-fluid ul {
  padding-right: 20px;
  padding-left: 20px;
}

.prateleira .container-fluid ul li {
  padding: 10px 50px;
  border-right: 1px solid #BDB5AF;
}

.prateleira .container-fluid ul li img {
  max-width: 100%;
  transition: all 0.3s ease-in;
}

.prateleira .container-fluid ul li img:hover {
  transform: scale(1.1);
}

.prateleira .container-fluid ul li:last-child {
  border-right: none;
}

.prateleira .container-fluid ul .slick-arrow {
  background: #F8F8F8;
  height: 83px;
  width: 32px;
  font-size: 0;
  cursor: pointer;
  z-index: 9;
}

.prateleira .container-fluid ul .slick-arrow:before {
  content: "";
  width: 8px;
  height: 11px;
  display: block;
  background: url(/arquivos/arrow.png);
  background-size: contain;
  font-size: 0;
  margin: 0 auto;
}

.prateleira .container-fluid ul .slick-arrow.slick-prev:before {
  transform: rotate(180deg);
}

.quote {
  margin: 150px auto;
  width: 55%;
  text-align: center;
}

.quote h4 {
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  color: #5A5D59;
  margin-bottom: 0;
}

.quote .author {
  margin-bottom: 0;
  margin-top: 40px;
  color: #BDB5AF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.about {
  margin-top: 150px;
}

.about .text {
  width: 70%;
  text-align: center;
  margin: 0 auto 115px auto;
}

.about .text h3 {
  font-family: "Vandermark", sans-serif;
  font-size: 36px;
  color: #5A5D59;
  margin-bottom: 0;
}

.about .text p {
  margin-bottom: 0;
  margin-top: 30px;
  color: #5A5D59;
  font-size: 24px;
}

.about img {
  max-width: 100%;
  height: auto;
}

footer {
  padding-top: 200px;
}

footer > .container {
  padding-bottom: 165px;
  max-width: 80%;
}

footer > .container ul.menu li {
  font-size: 18px;
  color: #5A5D59;
  font-weight: 300;
}

footer > .container ul.menu li.title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 15px;
}

footer > .container ul.menu li a {
  color: inherit;
}

footer > .container ul.menu li a:hover {
  color: #BDB5AF;
  text-decoration: none;
}

footer > .container ul.menu li.social-media i {
  font-size: 33px;
}

footer > .container ul.menu li.certificate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

footer > .container ul.menu li.certificate img {
  max-height: 65px;
}

footer > .container ul.menu li.active {
  color: #BDB5AF;
  font-weight: 900;
}

footer .newsletter form {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 50px;
}

footer .newsletter form input {
  border: 1px solid #707070;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  width: 400px;
  height: 50px;
  padding: 0 15px;
}

footer .newsletter form a {
  border: 1px solid #707070;
  border-radius: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .newsletter form a img {
  max-height: 10px;
}

footer .copyright .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

footer .copyright .container p {
  margin-bottom: 0;
  margin-right: 25px;
  font-size: 10px;
  font-weight: 300;
}

footer .copyright .container img {
  max-width: 35px;
  display: block;
}

@media only screen and (max-width: 992px) {
  header .wrap-menu .wrap-logo p {
    font-size: 16px;
  }

  aside .menu-lateral {
    width: 50%;
    max-width: 50%;
    left: -50%;
  }

  aside .menu-lateral.submenu.active {
    margin-left: 50%;
  }

  aside .menu-lateral ul {
    margin-top: 86px;
    margin-bottom: 50px;
  }

  .prateleira .container-fluid h2 {
    font-size: 16px;
  }

  .prateleira .container-fluid ul li {
    padding: 10px 20px;
  }

  .quote {
    margin: 80px auto;
    width: 70%;
  }

  .quote h4 {
    font-size: 18px;
  }

  .quote .author {
    margin-top: 25px;
  }

  .about {
    margin-top: 80px;
  }

  .about .text {
    margin-bottom: 80px;
    width: 50%;
  }

  .about .text p {
    font-size: 14px;
  }

  .about .text h3 {
    font-size: 18px;
  }

  .about .text br {
    display: none;
  }

  footer {
    padding-top: 150px;
  }

  footer .newsletter form {
    width: 100%;
  }

  footer .newsletter form input {
    width: 100%;
  }

  footer > .container ul.menu li {
    font-size: 12px;
  }

  footer > .container ul.menu li.title {
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .desk {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  header .wrap-menu {
    flex-wrap: wrap;
    padding: 15px 0;
  }

  header .wrap-menu .close-container {
    width: 50%;
    order: 1;
  }

  header .wrap-menu .right-options {
    width: 50%;
    order: 2;
    display: flex;
    justify-content: flex-end;
  }

  header .wrap-menu .right-options .options {
    position: relative;
    right: 0;
  }

  header .wrap-menu .right-options .options .search {
    display: flex;
    align-items: center;
  }

  header .wrap-menu .right-options .options .search input.active {
    width: 125px;
  }

  header .wrap-menu .wrap-logo {
    order: 3;
    width: 100%;
    margin-top: 10px;
  }

  header .wrap-menu .wrap-logo img {
    margin: 0 auto;
    display: block;
  }

  header .wrap-menu .wrap-logo p {
    margin-top: 20px;
  }

  aside .menu-lateral {
    width: 100%;
    max-width: 100%;
    left: -100%;
    padding: 0 15px;
    z-index: 98;
  }

  aside .menu-lateral.submenu {
    z-index: 100;
    left: -100%;
  }

  aside .menu-lateral.submenu.active {
    margin-left: 0;
    left: 0;
  }

  aside .menu-lateral.submenu .voltar {
    position: absolute;
    left: 15px;
    top: 25px;
    transform: rotate(180deg);
  }

  aside .menu-lateral.submenu .voltar img {
    height: 20px;
  }

  .prateleira .container-fluid h2 {
    padding: 30px 0;
    font-size: 14px;
  }

  .banner-section img {
    width: 100%;
    height: auto;
  }

  .quote {
    margin: 60px auto;
    width: 100%;
  }

  .quote .author {
    margin-top: 40px;
  }

  .about .text {
    width: 100%;
    margin-bottom: 60px;
  }

  .about .text h3 {
    font-size: 20px;
  }

  .about .text p {
    font-size: 16px;
    margin-top: 20px;
  }

  footer {
    padding-top: 96px;
  }

  footer > .container {
    max-width: 100%;
    padding-bottom: 66px;
  }

  footer > .container .wrap-menu {
    margin-bottom: 1.5rem !important;
  }

  footer > .container ul.menu li.certificate {
    justify-content: center;
  }

  footer > .container ul.menu li.certificate img {
    max-height: 70px;
    margin: 0 10px;
  }

  footer .copyright .container {
    flex-direction: column;
    text-align: center;
  }

  footer .copyright .container p {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.destaques .col-12 {
  padding: 0;
}

.destaques .col-12.first {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.destaques .col-12.second .destaque:last-child img {
  max-width: 85%;
}

.destaques .destaque {
  position: relative;
}

.destaques .destaque .box-banner {
  overflow: hidden;
}

.destaques .destaque .box-banner img {
  transition: all 0.3s ease-in;
  max-width: 100%;
  height: auto;
}

.destaques .destaque .box-banner img:hover {
  transform: scale(1.1);
}

.destaques .destaque .btn {
  position: absolute;
  bottom: 12px;
  left: calc(50% - 60px);
  /* z-index: 9; */
  width: 120px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0;
  text-transform: uppercase;
  color: #5A5D59;
  font-size: 12px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .destaques .col-12 {
    padding: 0 15px;
  }

  .destaques .col-12 .destaque {
    margin-bottom: 15px;
  }

  .destaques .col-12.second .destaque:last-child img {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
