// geral 
body {
    font-family: $domain;
    overflow-x: hidden;
    * {
        outline: none !important;
    }
}

.desk {
    display: block !important;
}

.mobile {
    display: none !important;
}

div#ajaxBusy {
    display: none !important;
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}

@media (min-width: 576px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(189 181 175 / .68);
    display: none;
    z-index: 8;
    .active {
        display: block;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slick-prev.slick-arrow {
    left: 0;
}

.slick-next.slick-arrow {
    right: 0;
}

// header 
header {
    transition: $main-transition;
    width: 100%;
    background: $white;
    .wrap-menu {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        .close-container {
            position: relative;
            width: 25px;
            height: 25px;
            cursor: pointer;
            background: none;
            border: none;
            z-index: 99;
            .leftright {
                height: 3px;
                width: 25px;
                position: absolute;
                background-color: $grey-dark-01;
                border-radius: 2px;
                transform: rotate(0);
                transition: $main-transition;
                left: 0;
                top: 5px;
            }
            .rightleft {
                height: 3px;
                width: 25px;
                position: absolute;
                background-color: $grey-dark-01;
                border-radius: 2px;
                transform: rotate(0);
                transition: $main-transition;
                left: 0;
                top: 14px;
            }
        }
        .close-container.active {
            span.leftright {
                transform: rotate(45deg);
                top: 10px;
            }
            span.rightleft {
                transform: rotate(-45deg);
                top: 10px;
            }
        }
        .wrap-logo {
            max-height: 120px;
            img {
                max-height: 57px;
                transition: $main-transition;
            }
            p {
                font-size: 18px;
                text-align: center;
                font-weight: 900;
                margin-bottom: 0;
                margin-top: 30px;
                transition: $main-transition;
                color: $grey-dark-02;
            }
        }
        .right-options {
            .options {
                position: absolute;
                right: 50px;
                display: flex;
                align-items: flex-end;
                .kart {
                    position: relative;
                    img {
                        max-width: 55px;
                    }
                    .number {
                        position: absolute;
                        width: 55px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 7px;
                        right: 0;
                        margin-bottom: 0;
                    }
                }
                .search {
                    input {
                        width: 0;
                        padding: 0;
                        margin: 0;
                        border: 1px solid transparent;
                        transition: $transition-5;
                        font-size: 12px;
                        height: 32px;
                    }
                    input.active {
                        width: 300px;
                        border: 1px solid rgb(90 93 89 / .3);
                        border-radius: 15px;
                        padding: 0 15px;
                        line-height: 1;
                    }
                    img {
                        max-width: 24px;
                        bottom: 3px;
                        position: relative;
                        margin: 0 5px;
                    }
                    margin-right: 15px;
                }
                .login {
                    margin-bottom: 0;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 900;
                    position: relative;
                    bottom: 7px;
                    margin: 0 15px;
                    color: $grey-dark-02;
                }
            }
        }
    }
    &.fixed {
        position: fixed;
        transition: $main-transition;
        z-index: 1;
        background-color: $white;
        .wrap-menu {
            .wrap-logo {
                img {
                    max-height: 35px;
                    transition: $main-transition;
                }
                p {
                    height: 0;
                    font-size: 0;
                    margin: 0;
                    transition: $main-transition;
                }
            }
        }
    }
}

// menu lateral
aside {
    &.active {
        .menu-lateral {
            left: 0;
        }
    }
    .menu-lateral {
        position: fixed;
        height: 100vh;
        width: 30%;
        max-width: 460px;
        background: $white;
        padding: 0 50px;
        z-index: 9;
        transition: $main-transition;
        left: -30%;
        overflow: auto;
        ul {
            margin-top: 175px;
            margin-bottom: 70px;
            li {
                font-family: $vandermark;
                font-size: 36px;
                font-weight: 500;
                line-height: 1.7;
                &:hover {
                    a {
                        color: $grey-medium;
                        text-decoration: none;
                    }
                }
                a {
                    color: $grey-dark-02;
                    &:hover {
                        color: $grey-dark-02;
                        opacity: .8;
                    }
                    i {
                        color: $grey-dark-02;
                    }
                }
            }
            &.social-media {
                position: absolute;
                margin-top: 0;
                bottom: 45px;
                margin-bottom: 0;
                li {
                    line-height: 1;
                }
            }
        }
        &.submenu {
            margin-left: 0;
            z-index: 8;
            &.active {
                margin-left: 30%;
            }
            ul {
                margin-top: 120px;
                li {
                    font-size: 24px;
                    font-weight: 300;
                }
            }
        }
        &::-webkit-scrollbar-track {
            background-color: #F8F8F8;
        }
        &::-webkit-scrollbar {
            width: 6px;
            background-color: #F8F8F8;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #5A5D59;
        }
    }
}

// banner 
.banner-section {
    img {
        max-width: 100%;
        height: auto;
    }
}

// prateleira 
.prateleira {
    border-bottom: 1px solid $grey-medium;
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        h2 {
            border-bottom: 1px solid $grey-medium;
            margin-bottom: 0;
            padding-bottom: 40px;
            padding-top: 40px;
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
        }
        ul {
            padding-right: 20px;
            padding-left: 20px;
            li {
                padding: 10px 50px;
                border-right: 1px solid $grey-medium;
                img {
                    max-width: 100%;
                    transition: $main-transition;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                &:last-child {
                    border-right: none;
                }
            }
            .slick-arrow {
                background: $grey-light;
                height: 83px;
                width: 32px;
                font-size: 0;
                cursor: pointer;
                z-index: 9;
                &:before {
                    content: "";
                    width: 8px;
                    height: 11px;
                    display: block;
                    background: url(/arquivos/arrow.png);
                    background-size: contain;
                    font-size: 0;
                    margin: 0 auto;
                }
                &.slick-prev {
                    &:before {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

// quote 
.quote {
    margin: 150px auto;
    width: 55%;
    text-align: center;
    h4 {
        font-style: italic;
        font-weight: 300;
        font-size: 30px;
        color: $grey-dark-02;
        margin-bottom: 0;
    }
    .author {
        margin-bottom: 0;
        margin-top: 40px;
        color: $grey-medium;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
    }
}

// about
.about {
    margin-top: 150px;
    .text {
        width: 70%;
        text-align: center;
        margin: 0 auto 115px auto;
        h3 {
            font-family: $vandermark;
            font-size: 36px;
            color: $grey-dark-02;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
            margin-top: 30px;
            color: $grey-dark-02;
            font-size: 24px;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

// footer 
footer {
    padding-top: 200px;
    &>.container {
        padding-bottom: 165px;
        max-width: 80%;
        ul.menu {
            li {
                font-size: 18px;
                color: $grey-dark-02;
                font-weight: 300;
                &.title {
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 900;
                    margin-bottom: 15px;
                }
                a {
                    color: inherit;
                    &:hover {
                        color: $grey-medium;
                        text-decoration: none;
                    }
                }
                &.social-media {
                    i {
                        font-size: 33px;
                    }
                }
                &.certificate {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        max-height: 65px;
                    }
                }
                &.active {
                    color: $grey-medium;
                    font-weight: 900;
                }
            }
        }
    }
    .newsletter {
        form {
            position: relative;
            display: inline-block;
            width: 400px;
            height: 50px;
            input {
                border: 1px solid $grey-dark-03;
                font-size: 12px;
                font-weight: 700;
                line-height: 1;
                width: 400px;
                height: 50px;
                padding: 0 15px;
            }
            a {
                border: 1px solid $grey-dark-03;
                border-radius: 0;
                height: 50px;
                width: 50px;
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-height: 10px;
                }
            }
        }
    }
    .copyright {
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 40px;
            p {
                margin-bottom: 0;
                margin-right: 25px;
                font-size: 10px;
                font-weight: 300;
            }
            img {
                max-width: 35px;
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    header {
        .wrap-menu {
            .wrap-logo {
                p {
                    font-size: 16px;
                }
            }
        }
    }
    aside {
        .menu-lateral {
            width: 50%;
            max-width: 50%;
            left: -50%;
            &.submenu {
                &.active {
                    margin-left: 50%;
                }
            }
            ul {
                margin-top: 86px;
                margin-bottom: 50px;
            }
        }
    }
    .prateleira {
        .container-fluid {
            h2 {
                font-size: 16px;
            }
            ul {
                li {
                    padding: 10px 20px;
                }
            }
        }
    }
    .quote {
        margin: 80px auto;
        width: 70%;
        h4 {
            font-size: 18px;
        }
        .author {
            margin-top: 25px;
        }
    }
    .about {
        margin-top: 80px;
        .text {
            margin-bottom: 80px;
            width: 50%;
            p {
                font-size: 14px;
            }
            h3 {
                font-size: 18px;
            }
            br {
                display: none;
            }
        }
    }
    footer {
        padding-top: 150px;
        .newsletter {
            form {
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
        &>.container {
            ul {
                &.menu {
                    li {
                        font-size: 12px;
                        &.title {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .desk {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    header {
        .wrap-menu {
            flex-wrap: wrap;
            padding: 15px 0;
            .close-container {
                width: 50%;
                order: 1;
            }
            .right-options {
                width: 50%;
                order: 2;
                display: flex;
                justify-content: flex-end;
                .options {
                    position: relative;
                    right: 0;
                    .search {
                        display: flex;
                        align-items: center;
                        input {
                            &.active {
                                width: 125px;
                            }
                        }
                    }
                }
            }
            .wrap-logo {
                order: 3;
                width: 100%;
                margin-top: 10px;
                img {
                    margin: 0 auto;
                    display: block;
                }
                p {
                    margin-top: 20px;
                }
            }
        }
    }
    aside {
        .menu-lateral {
            width: 100%;
            max-width: 100%;
            left: -100%;
            padding: 0 15px;
            z-index: 98;
            &.submenu {
                z-index: 100;
                left: -100%;
                &.active {
                    margin-left: 0;
                    left: 0;
                }
                .voltar {
                    position: absolute;
                    left: 15px;
                    top: 25px;
                    transform: rotate(180deg);
                    img {
                        height: 20px;
                    }
                }
            }
        }
    }
    .prateleira {
        .container-fluid {
            h2 {
                padding: 30px 0;
                font-size: 14px;
            }
        }
    }
    .banner-section {
        img {
            width: 100%;
            height: auto;
        }
    }
    .quote {
        margin: 60px auto;
        width: 100%;
        .author {
            margin-top: 40px;
        }
    }
    .about {
        .text {
            width: 100%;
            margin-bottom: 60px;
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }
    footer {
        padding-top: 96px;
        &>.container {
            max-width: 100%;
            padding-bottom: 66px;
            .wrap-menu {
                margin-bottom: 1.5rem!important;
            }
            ul {
                &.menu {
                    li {
                        &.certificate {
                            justify-content: center;
                            img {
                                max-height: 70px;
                                margin: 0 10px;
                            }
                        }
                    }
                }
            }
        }
        .copyright {
            .container {
                flex-direction: column;
                text-align: center;
                p {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }
}