// destaques
.destaques {
    .col-12 {
        padding: 0;
        &.first {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &.second {
            .destaque {
                &:last-child {
                    img {
                        max-width: 85%;
                    }
                }
            }
        }
    }
    .destaque {
        position: relative;
        .box-banner {
            overflow: hidden;
            img {
                transition: $main-transition;
                max-width: 100%;
                height: auto;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .btn {
            position: absolute;
            bottom: 12px;
            left: calc(50% - 60px);
            /* z-index: 9; */
            width: 120px;
            height: 40px;
            background: rgb(255 255 255 / .7);
            border-radius: 0;
            text-transform: uppercase;
            color: #5A5D59;
            font-size: 12px;
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 768px) {
    .destaques {
        .col-12 {
            padding: 0 15px;
            .destaque {
                margin-bottom: 15px;
            }
            &.second {
                .destaque {
                    &:last-child {
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}