@import "variables.scss";



* {
  padding: 0;
  margin: 0;

}





main {
  padding-top: 5em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


/*fonts*/

hr {
  width: 100%;
  color: $grey-dark-02;
}

.info-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: $grey-dark-01;


}

.info-subtitle {
  font-size: 12px;
  color: $grey-dark-02;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;

}


.link-subtitle a {
  color: $grey-medium;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;


}

.link-subtitle a:hover {
  color: $grey-dark-02;
  opacity: 0.8;
}



/*product colour*/

.list-inline .list-inline-item img {
  border: 1px solid $grey-medium;
  padding: .2em;
}

.list-inline .list-inline-item img:hover {

  border: 1px solid $grey-dark-02;
}



/*product size*/

.product-size {

  padding-top: 1.3em;

}

.box {
  border: 1px solid $grey-medium;
  height: 40px;
  width: 56px;

}

.box:hover {
  border: 1px solid $grey-dark-02;
  height: 40px;
  width: 56px;
}



/*product fit size input*/

.select-box {
  z-index: 3;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 12px;
  
  color: #60666d;
  border: 1px solid $grey-medium;

  // @media (min-width: 768px) {
  //   width: 70%;
  // }

  // @media (min-width: 992px) {
  //   width: 50%;
  // }

  // @media (min-width: 1200px) {
  //   width: 30%;
  // }

  &__current {
    position: relative;
    //   box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    cursor: pointer;
    outline: none;

    &:focus {
      &+.select-box__list {
        opacity: 1;

        // We have to set "animation-name: none;" to make the list visible (read below how it works)

        animation-name: none;

        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 15px;
    opacity: 0.3;
    transition: 0.2s ease;
  }

  &__value {
    display: flex;
  }

  &__input {
    display: none;

    &:checked+.select-box__input-text {
      display: block;
    }
  }

  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;

    // We need to use animation with delay.
    // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
    // This delay will not be noticed because we set "opacity" to "0".
    // We also use "animation-fill-mode: forwards" to make the list stay hidden.

    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    //   box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    border: 1px solid $grey-medium;
  }




  &__option {
    display: block;
    padding: 25px;
    background-color: #fff;

    &:hover,
    &:focus {
      color: #546c84;
      background-color: #fbfbfb;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

.details {
  border: none;
  padding: 5px;
}


.product-quant {
  border: 1px solid blue;
  padding-top: 1em;

}

.input-qnt {

  width: 25px;
  border: none;
  border-bottom: 1px solid $grey-dark-02;
  -webkit-appearance: none;
  margin: 0;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}




/*btn add to card*/
.btn-add-cart {
  border: none;
  background-color: $grey-medium;
}
.btn-add-cart:hover{
  border: 1px solid $grey-dark-02;
}




.list-item-separation::after {
  content: "";
  border-right: 2px solid $grey-medium;
  margin-left: 45px;

  @media screen and (max-width:1050px) {
    display: none;
  }
}

.list-item-separation-b::before{
  content: "";
  border-right: 2px solid $grey-medium;
  margin-right: 30px;

  @media screen and (max-width:1050px) {
    display: none;
  }
}



#center-banner {
  margin-top: 100px;
  
}

#center-banner img{
  width: 100%;
}

/*
Modal Style

*/

.modal-cart{
  align-content: right;
}

.cart-modal{
  padding: 35px;
  width: 680px;
  height: fit-content;
  border: 1px solid $grey-medium;
  background-color: #fff;
}
.c-footer{
  padding-top: 5em;
  
}

.btn-modal{
  width: 315px;
  height: 75px;
  
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  border: none;
  background-color: $grey-medium;
  cursor: pointer;
    
  &:hover{
    border: 2px solid $grey-dark-02;
  }
}


.btn-remove{
  background-color: transparent;
  border: none;
  color: $grey-medium;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-decoration: none;

}
.border-top{
  border-color: $grey-medium !important;
}