main {
  padding-top: 5em;
}

.wrap-info {
  border: 3px solid yellow;
}

.info-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 18px;
  color: #5A5D59;
  font-weight: 900;
}

.thumbs-color {
  padding-top: 1.3em;
  border: 1px solid blue;
}

.thumbs-color li img {
  border: 1px solid red;
  padding: 3px;
}

.product-size {
  border: 1px solid blue;
  padding-top: 1.3em;
}

.product-size li {
  border: 1px solid red;
  height: 40px;
  width: 56px;
  color: red;
}

.size-input {
  padding-top: 0.5em;
}

.input-size-arrow {
  text-decoration: none;
  border-color: red;
  height: 40px;
  width: 11.2em;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
  font-size: 18px;
  color: #60666d;
  border: 1px solid #BDB5AF;
}
.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 15px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  border: 1px solid #BDB5AF;
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
.product-quant {
  border: 1px solid blue;
  padding-top: 1em;
}

.input-qnt {
  width: 25px;
  border: none;
  border-bottom: 1px solid #5A5D59;
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-add-cart {
  color: red;
  border: none;
  background-color: #BDB5AF;
}

/*# sourceMappingURL=products.css.map */
