// variables 
// color
$white: #ffffff;
$grey-dark-01: #595C58;
$grey-dark-02: #5A5D59;
$grey-dark-03: #707070;
$grey-medium: #BDB5AF;
$grey-light: #F8F8F8;

// transition
$main-transition: all .3s ease-in;
$transition-5: all .5s ease-in;
// font 
$domain: 'Domaine Sans Text',
sans-serif;
$vandermark: 'Vandermark',
sans-serif;